.layout {
    &__header {
        margin-left: 1rem;
    }

    &__footer {
        border-top: 2px solid black;
        margin-top: 2rem;
        margin-left: 1rem;
    }

    &__main {
        margin: 0 1rem;
    }

    &__link {
        font-size: 1.25rem;
        font-weight: bold;
        color: black;
    }
}