.news {
    background-color: rgb(160, 196, 202);
    border: 1px solid rgb(136, 134, 134);
    border-radius: 15px;
    padding: 0rem 1rem 1rem 1rem;

    &__list {
        list-style-type: none;
        padding: 0;
    }

    &__item {
        padding-top: 0.5rem;
    }

    &__link, &__page {
        color: black;
    }

    &__page {
        text-decoration:none;
        font-weight: bold;
    }
}